.main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(61, 61, 61);
  background: linear-gradient(0deg, rgb(66, 66, 66) 0%, rgb(20, 20, 20) 100%);
  min-height: 80vh;
}
