:root {
  --black: #000000;
  --white: #ffffff;
  --white-light: #eaeaea;
  --gray-dark: #333333;
  --gray-light: #555555;
  --gray-clear: #979797;
  --gray: #808080;
  --light-yellow: #ecaf2a;
  --blue-light: rgba(29, 161, 242, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
